@import "styles/utils";

.hidden {
  position: absolute;
  top: -9999px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;

  @include media(">desktop") {
    padding: 64px 16px;
  }
}
